apiVersion: apps/v1
kind: Deployment
metadata:
  name: securebooks
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: securebooks
          env:
            - name: ENVIRONMENT
              value: staging
            - name: LOG_LEVEL
              value: INFO
